.green-row > div{
    padding: 8px;
    border-radius: 16px;
    border: 2px solid aqua;

    // width: 100%
}
.yellow-row > div{
    padding: 8px;
    border-radius: 16px;
    // background-color: #e49c06;
    border: 2px solid #e49c06;
}
.header-table {
    background-color: #f4f6f8;
}