.feedbackpage{
    .header{
        top: 23px;
        width: calc(82vw - 44px);
        position: fixed;
        z-index: 9999;
        background-color: white;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: space-between;
        height: 50px;
        font-size: 18px;
        .return{
            position: relative;
            padding-left: 20px;
            padding-top: 2px;
            margin-top: 13px;
            height: 24px;
            cursor: pointer;
            .icon{
                left: 0px;
                top: 0px;
                position: absolute;
            }
        }
        .btn{
            .deletebtn{
                height: 40px;
                font-size: 18px;
                border: 2px solid red;
                background-color: white;
                color: red;
                margin-top: 5px;
                margin-right: 5px;
                cursor: pointer;
            }
            .solvedbtn{
                height: 40px;
                font-size: 18px;
                border: 2px solid #0089FF;
                background-color: #0089FF;
                color: white;
                margin-top: 5px;
                margin-right: 5px;
                width: 100px;
                cursor: pointer;
            }
        }
    }   
    
    .baseinfor{
        margin-top: 100px;
        width:calc(82vw - 44px);
        min-height: 100px;
        background-color: white;
        border-radius: 5px;
        font-size: 18px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        .title{
            height: 50px;
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid #CAC3C3;
            align-items: center;
            span{
                padding-left: 20px;
                font-weight: bold;
            }
            a{
                padding-right: 20px;
                text-decoration: none;
                color: #0089FF;
            }
            a:hover{
                text-decoration: underline;
            }
        }
        .infor{
            display: flex;
            width: 100%;
            padding-bottom: 20px;
            .leftname, .rightname{
                width: 20%;
                display: flex;
                flex-direction: column;
                padding-left: 20px;
                p{
                    margin-bottom: 0px;
                    margin-top: 20px;
                    color: #808080;
                }
            }
            .leftcontent, .rightcontent{
                width: 30%;
                display: flex;
                flex-direction: column;
                p{
                    margin-bottom: 0px;
                    margin-top: 20px;
                }
            }
        }
    }
    
    .content{
        margin-top: 30px;
        width:calc(82vw - 44px);
        min-height: 250px;
        background-color: white;
        border-radius: 5px;
        font-size: 18px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        .title{
            height: 50px;
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid #CAC3C3;
            align-items: center;
            span{
                padding-left: 20px;
                font-weight: bold;
            }
        }
        p{
            margin-top: 20px;
            margin-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}