body {
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
}

.login-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url(../../../public/login-background.png);
}
.loginform {
    height: 500px;
    width: 40%;
    background-color: #ffffff;
    margin-left: 30%;
    margin-top: 100px;
    border-radius: 8px;
    box-shadow: 0 4px 4px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    img {
        height: 62px;
        width: 170px;
        margin-top: 30px;
    }
    p {
        margin-bottom: 0px;
    }
    input {
        height: 64px;
        width: 320px;
        font-size: 20px;
        border: 2px solid #cac3c3;
        border-radius: 10px;
        margin-top: 30px;
        padding-left: 20px;
    }
    a {
        color: #0089ff;
        text-decoration: none;
        font-size: 16px;
        position: relative;
        left: 115px;
        margin-top: 2px;
    }
    button {
        height: 53px;
        width: 165px;
        margin-top: 40px;
        background-color: #0fd186;
        border: 0px;
        border-radius: 7px;
        font-size: 20px;
        color: #ffffff;
        cursor: pointer;
    }
}
